<% include partials/header%>
<h1>User show page</h1>

User name is <%=user.name %>
And your password is <%=user.password%>

    <nav>
<a href="/users">Index page</a>
</nav>

<% include partials/header%>